@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monteserrat', sans-serif;
}
html,body{
    width: 100%;
    height: 100vh;
}

.page{
    display: grid;
    grid-template-columns: 1fr 6fr;
}


/*working on side bar*/
.sidebar{
    display: grid;
    background-color: #2dd4bf;
    color: white;
    height: 100vh;
    padding: 1em 1em 16em;
    gap: 2em;

}


.svg-color-w{
    filter: invert(99%) sepia(85%) saturate(123%) hue-rotate(87deg) brightness(105%) contrast(97%);
}
.svg-dash{
    width: 2.5em;
}
.svg-cont{
    width: 1.5em;
}


.side-opt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    cursor: pointer;
}
.side-opt > h2{
    margin-top: 0.2em;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;

}


.side-content{
    display: grid;
    gap: 0.7em;
}

.cont-algn{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    font-size: small;
    margin-top: 4.5px;
}


/*working on right side of the page*/
.r-bar{
    display: grid;
    grid-template-rows: 0.8fr 3fr;
    
}
.top-bar{
   box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.156);
   padding-top: 1em;
   padding-bottom: 1.4em;
   
}

.navbar-t{
    display: grid;
    grid-template-columns: 0.2fr 1.6fr 0.5fr 0.2fr 0.5fr;
}

.navbar-t > input {
    background-color: #94a3b848;
    width: 40em;
    margin-top: 5px;
    border-radius: 12px;
    height: 23px;
    border-style: none;
    margin-left: 2em;
    padding: 10px;
}

.nav-style {
    margin-top: 0.5em;
    margin-left: 90%;
    cursor: pointer;
}

.navbar-b{
    margin-top: 1.3em;
    display: grid;
    grid-template-columns: 0.2fr repeat(2,1fr);
}

.navbar-b > img{
    margin-left: 5em;
}

.nav-details{
    margin-top: 9px;
    margin-left: 1.2em;
}
.nav-details > h2 {
    font-size: large;
}

.btn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3em;
    margin: 15px auto auto 26%;
}

.btn > button{
    border: none;
    padding: 9px;
    background-color:  #2dd4bf;
    color: white;
    border-radius: 19px;
    width: 6.5em;
    cursor: pointer;
}



/*cards part*/
.cards-cont{
    background-color: #94a3b848;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 3em;
}

.cards{
    margin-top: 1.1em;
    padding-right: 1.5em;
    display: grid;
    gap: 1.4em;
    grid-template-columns: repeat(3,1fr);
}

.cards-projects{
    background-color: white;
    width: 300px;
    height: 190px;
    padding: 2em 3em 3em 1em;
    border-radius: 9px;
    border-left: 9px solid rgba(255, 255, 0, 0.693);
    
}

.project-text{
    font-size: small;
    opacity: 75%;

}

.cards-text > a{
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}
.cards-text > p{
    margin-top: 6px;
}
/*Announcement part*/

.ancmts{
    display: grid;
    margin-left: 1.8em;
}

.r-card-style{
    background-color: white;
    height: 180px;
    width: 220px;
    margin-top: 1em;
    border-radius: 9px;
}

.cards-text{
    height: 100px;
}

.cards-opts {
    width: 20px;
}

.cards-icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin: 1em 10em;
    cursor: pointer;
}

.anmt-cards {
    padding: 01em;
    display: grid;
    gap: 0.5em;
    grid-template-rows: repeat(3,1fr);
}
.anmt-cards > div > h5 {
    cursor: pointer;
}

.anmt-cnts{
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.336);
    padding-bottom: 0.5em;
}
.text-match{
    font-size: 10px;
    opacity: 75%;
}


/*Trending part*/


.trend{
    margin-top: 1.6em;
}

.rt-card-style{
    margin-top: 16px;
    background-color: white;
    height: 150px;
    padding: 1em;
    border-radius: 9px;
}


.image-cropper {
    width: 2em;
    height: 2em;
    overflow: hidden;
    border-radius: 50%;
}
.image-cropper-top1 {
    width: 2.3em;
    height: 2.3em;
    overflow: hidden;
    border-radius: 50%;
}
.image-cropper-top2 {
    width: 3.4em;
    height: 3.4em;
    overflow: hidden;
    border-radius: 50%;
}


.trend-cards{
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    cursor: pointer;
}
.trend-cards > div > h3 {
    font-size: 10px;
    margin-bottom: 5px;
}

.trend-cards-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 8px;
}